body{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #121417;
    line-height: 25px;
}


.card{
    position: relative;
    height: 450px;
    width: 500px;
    margin-top: 100px;
    border-radius: 30px;
    padding-bottom: 50px;
    padding-left: 0;
    background-color: #252D37;
    color: white;
}


.icon-star{
    text-align: left;
    margin-left: 2em;
    margin-top: 2em;
    padding: 20px;
    background-color: #2b333e;
    border-radius: 50px;
}


h1{
    transform: translateX(-7%);
    font-weight: 700;
    margin-left: 2em;
}

p{
    color: #7C8798;
    width: 76%;
    font-size: 15px;
    font-weight: 400;
    padding-left: 2rem;
}



.rating-num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-bottom: 50px;
} 

.rating-num li{
    margin: 10px;
    list-style: none;
}

.rating-num a{
    text-align: center;
    background-color: #2b333e;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    color: #7C8798;
}

.rating-num a:hover,
.rating-num a:focus{
    background-color: green;
    color: white;
}

.rate-btn{
    width: 25px;
    margin: 4px;
    padding: 15px;
}





.btn{
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    margin-top: 20px;
    padding: 15px 160px;
    border-radius: 50px;
    background-color: darkorange;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.btn:hover,
.btn:focus{
        background-color: orange;
       
    }


    /* thank you page-------------------------------------- */

.thank-card{
    /* transform: translateY(-40%); */
    position: relative;
    padding: 0px;
    text-align: center;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    padding-bottom: px;
    background-color: #252D37;
}

.thank-img{
    width: 200px;
    height: auto;
    padding-right: 20px;
    padding-top: 3em;
    padding-bottom: 20px;
}

.rate-txt{
    align-self: center;
    background-color: #2b333e;
    margin-left: 57px;
    font-size: large;
    color: darkorange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-radius: 50px;
}

h2{
    font-size: 35px;
    padding-top: 20px;
}

.rate-end{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17.5px;
    width: 400px;
}

.checked{
    background-color: green;
}

footer{
   padding: 5em 0;
   color: aliceblue;
   font-style: italic;
}

@media(max-width: 375px) {


    .card{
        height: auto;
        width: 350px;
}

    h1{
        transform: translateX(-11.5%);
        font-weight: 700;

    }

    p{
        width: 76%;
        font-size: 13px;
        
    }

    .rating-num li{
        margin: 0px;
    }


    .btn{
        padding: 15px 125px;
    }



    .thank-card{
        height: auto;
        width: 350px;
    }

    .thank-img{
        width: 150px;
    }

    .rate-txt{
        margin-left: 43px;
        font-size: 20px;
        color: darkorange;
        padding-top: 5px;
        padding-bottom: 05px;
        padding-left: 0px;
        border-radius: 50px;
    }

    h2{
        font-size: 30px;
        padding-bottom: 0px;

    }
    

    .rate-end{
        line-height: 20px;
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 13px;
        width: 280px;
    }

    footer{
        width: 300px;
        padding: 2em 0;
    }
}
